@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root{
/*colors*/
--Dark_Blue: hsl(217, 28%, 15%);  /* (intro and email sign up background)*/
--main_background: hsl(218, 28%, 13%);
--footer_background: hsl(216, 53%, 9%);
--testimonials_background: hsl(219, 30%, 18%);

--White: hsl(0, 0%, 100%);

--cyan: hsl(176, 68%, 64%);
--blue: hsl(198, 60%, 50%);
--light-red: hsl(0, 100%, 63%);


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700; /* Bold headings */
    color: var(--White);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Default weight for body */
    line-height: 1.6; /* Optional: Adjust line spacing for readability */
    font-size: 14px;
    background-color: var(--main_background);
}

.container{
    width: 90%;
    margin: auto;
}


/*===================the header section======================*/

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

header .container .links{
    display: flex;
    gap: 40px;
    color: cyan;

}
header .container .links a{
    color: rgb(173, 170, 170);
    transition: 0.4s;
}
header .container .links a:hover{
    color: var(--White);
    text-decoration: underline;
    font-weight: 500;
}

/*===================the introduction section======================*/

.intro .container{
    text-align: center;
    width: 40%;
    margin-block: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_container h1{
    color: var(--White);
    font-size: 2rem;
    margin-block: 20px;
}
.text_container p{
    color: rgb(173, 170, 170);
    font-size: 1.25rem;
    margin-bottom: 40px;
}
.text_container .btn{
    padding: 15px 80px;
    background-color: var(--blue);
    border-radius: 50px;
    color: var(--White);
    transition: 0.3s;
}
.text_container .btn:hover{
    background-color: var(--cyan);
}
/*===================the services section======================*/
.services .container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
    align-items: center;
    justify-items: center;
    margin: 150px auto ;
}

.services .container .box{
    text-align: center;
    width: 80%;
}
.services .container .box .text_container h2{
    color: var(--White);
    margin-block: 20px 5px;
}
.services .container .box .text_container p{
    font-size: 1rem;
}

/*===================the productive section======================*/
.productive .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
    margin-bottom: 100px;
}
.productive .container .text_container p{
    margin-bottom: 20px;
}
.productive .container .text_container a{
    color: rgb(173, 170, 170);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    
}
.productive .container .text_container a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

/*===================the profile section======================*/
.profile .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    column-gap: 50px;
    margin-bottom: 100px;
    
}

.profile .container .profile_box{
    background-color: var(--testimonials_background);
    border-radius: 5px;
    padding: 40px 30px 30px;

}
.profile .container .profile_box p{
    color: rgb(173, 170, 170);
    font-size: 1rem;
}
.profile .container .profile_box .profile_info{
    display: flex;
    margin-top: 30px;
}

.profile .container .profile_box .profile_info img{
    border-radius: 50px;
    width: 50px;
    margin-right: 20px;
}

.profile .container .profile_box .profile_info span{
    color: rgb(173, 170, 170);
}
/*===================the footer section======================*/
footer{
    width: 100%;
    height: auto;
    background-color: var(--footer_background);
    position: relative;
    margin-top: 300px ;
}
footer .access{
    margin: auto;
    width: 50%;
    height: 250px;
    background-color: var(--Dark_Blue);
    text-align: center;
    padding: 40px 50px 0px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: -150px;
}
footer .access p{
    color: rgb(173, 170, 170);
    font-size: 1rem;
    margin: 20px auto;
    width: 90%;
}
footer .access form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .access form input{
    width: 60%;
    border-radius: 50px;
    padding: 15px 30px;
    outline: none;
    border: none;
}

footer .access form .btn{
    padding: 15px 40px;
    background-color: var(--blue);
    border-radius: 50px;
    color: var(--White);
    transition: 0.3s;
    outline: none;
    border: none;
}

footer .access form .btn:hover{
    background-color: var(--cyan);
}
/*====================*/
.footer_bottom{
   padding-top: 200px;
}

.footer_bottom .container img{
    width: 100px;
}

.footer_bottom .container .footer_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    color: rgb(173, 170, 170);
    align-items: flex-start;
    justify-items:center;
   
    
}

.footer_bottom .container .footer_container .footer_column img{
    width: 18px; 
    height: 20px;
    margin-right: 10px;
}
.footer_bottom .container .footer_container .footer_column li{
    display: flex;
}
.footer_bottom .container .footer_container .footer_column li{
    padding-bottom: 20px;
}




